@import '~shared/styles/index.scss';
*{
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  color: $white;
  background: $brand-primary;
}

.header{
  margin: 0;
  font-family:  Verdana, sans-serif;
}
